
<div class="py-3">
    <div class="media flex-column flex-md-row align-items-center">
        <div class="row">
            <div class="col-8">
                <div class="media-body text-left">
                    <p class="mb-0">{{ .BasicInfo.Profile | markdownify }}</p>
                </div>
            </div>
            <div id="pic" class="col-4">
                <div class="LI-profile-badge float-right"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="{{.BasicInfo.LinkedInHandle}}">
                </div>
            </div>
        </div>
    </div>
</div>
